<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content" id="body_area_in">
  <!--달력 js-->
  <script src="/static/js/Calenda/dcalendar.picker.js" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="/static/js/Calenda/dcalendar.picker.css" media="all">

  <!--단말기관리 : 1.단말기 승인처리-->
  <!--검색박스-->
  <form id="search_form" action="/statistics/xray" method="get" th:object="${searchDto}">
  <div class="srch_wrapper ">
    <div class="srch_wrapper_grid">
      <div class="srchCnt">
        <div class="srchCnt_grid1">
          <div class="search_set"></div>
          <div class="search_set"></div>
          <div class="search_set">
            <div class="datepicker_box">
              <input type="text" name="dateStart" placeholder="시작일" id="date_start" class="form-control" th:value="${searchDto.getDateStart()}" autocomplete="off">
              <input type="text" name="dateEnd" placeholder="종료일" id="date_end" class="form-control" th:value="${searchDto.getDateEnd()}" autocomplete="off">
            </div>
            <input name="pageum" type="hidden" value="030101">
          </div>
          <script src="/static/js/Calenda/dcalendar.picker.js"></script>
          <script>
            $('#date_start').dcalendarpicker();
            $('#date_end').dcalendarpicker();
          </script>
        </div>
        <!--구분선-->

      </div>
      <div class="searchBtn_grid">
        <button type="button" onclick="search_valid('noType')" class="searchBtn area_btn">검색</button>
        <button type="button" onclick="location.href='/statistics/xray?pageum=030101'" class="redoBtn area_btn">초기화</button>
      </div>
    </div>
  </div>
  </form>
  <div class="statics_wrapper">
    <div class="statics_number">
      <div>
        <p>자동 판독 횟수</p>
        <p>[[${totalCount}]]</p>
      </div>
    </div>
    <div class="statics_number statics_center">
      <div></div>
    </div>
    <div class="statics_number">
      <div></div>
    </div>
  </div>
  <!--//검색박스-->

  <div class="subbox d-flex">
    <!--타이틀-->
    <div class="com_titlebox2 line_b mb"> </div>
    <!--//타이틀-->
    <!--테이블리스트-->
    <div class="statics_list ">
      <div class="table_com table_st22">
        <div class="tb_h">
          <div class="th">판독 물품</div>
          <div class="th">판독 개수</div>
        </div>
        <!--구분선-->

        <div class="tb_d_wrap img_wrap statics_sub_list">
          <th:block th:each="list : ${statisticLists}">
            <div class="tb_d">
              <div class="td">[[${list.labelName}]]</div>
              <div class="td">[[${list.amount}]]</div>
            </div>
          </th:block>
        </div>
      </div>
    </div>
    <input id="chart_num" type="hidden" th:value="${chartLists.size()}">
    <div class="chart chart_wrapper">
      <p>Top 10</p>
      <canvas id="pie1" width="50vw" height="200px"></canvas>
    </div>
    <!--//테이블리스트-->
    <!-- //Pagination html -->
  </div>
  <div style="display: none">
    <th:block th:each="chartList : ${chartLists}">
      <input th:id="'c'+${chartListStat.count}" th:value="${chartList.percentage}">
      <span th:id="'n'+${chartListStat.count}">[[${chartList.labelName}]]</span>
    </th:block>
  </div>

  <!--중복 js - 레이아웃(layout.html) 하단에 선언되어있음. 페이지 적용시 삭제-->
  <!--달력 -->
  <script src="/static/js/Calenda/dcalendar.picker.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
  <script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
      let chartNum = 10;
      let totalNum = 0;
      let chartData = [];
      let chartLabel = [];
      for(let i = 1; i<= chartNum; i++){

        totalNum += Number($('#c'+i).val())
      }
      for(let i = 1; i<= chartNum; i++){
        chartData.push(($('#c'+i).val()/totalNum*100).toFixed(2))
        chartLabel.push($('#n'+i).text())
      }
      new Chart(document.getElementById("pie1"), {
        type: "pie",
        data: {
          labels: chartLabel,
          datasets: [{
            data: chartData,
            borderWidth: 5
          }]
        },
        options:{
          plugins:{
            legend:false,
            datalabels: {
              color:'black',
              formatter: function(value, context) {
                return context.chart.data.labels[context.dataIndex]+'\n'+value + '%';
              }
            }
          }
        },
        plugins: [ChartDataLabels]
      });
    });
  </script>
  <script>
    $('#date_start').dcalendarpicker();
    $('#date_end').dcalendarpicker();
  </script>
</div>
</html>