<!--==================================================================
프로젝트명 : 통합관리시스템
작성지 : 신정호
작성일 : 2023년 11월 22일
용도 : 헤더 공통 페이지
==================================================================-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>통합관리 시스템</title>
</head>
<body>
<header th:fragment="header" class="main">
    <div id="quick_btn_mobile"><i class="uil uil-bars" ></i></div>
    <div id="quick_btn_mobile2"><i class="uil uil-arrow-left"></i></div>

    <div id="header">
        <div class="inner">
            <p class="header_title">통합관리 시스템</p>
            <div class="user_wrap">
                <img th:if="${userRole}=='ADMIN'" class="user_img" src="/static/images/main/user_photo_admin.png">
                <img th:if="${userRole}=='USER'" class="user_img" src="/static/images/main/user_photo1.png">
                <div class="user_info">
                    <span class="user_id">[[${userId}]]</span>
                    <span class="user_name">[[${userName}]] <span>님</span></span>
                </div>
                <button class="user_logout" type="button" onclick="apiLogout()">로그아웃</button>
            </div>
        </div>
    </div>
</header>
</body>
</html>