<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="sidebar">
    <div id='quick' class="quick_open">
    <div class="quickbg_box">
        <div class="bg1"></div>
    </div>
    <div class="quick_menu">
        <div class="b_icon">
        </div>
        <ul class="nav" id="demo1">
            <!--인천국제공항 이미지-->
<!--            <li class="logo_container">-->
<!--                <img id="main_logo" onclick="homePage()" class="main_logo" src="/static/images/main/main_logo.png">-->
<!--            </li>-->
            <!--CUBOX 이미지-->
            <li class="logo_container cubox">
                <img id="main_logo" onclick="homePage()" class="main_logo cubox" src="/static/images/main/main_logo_cubox.png">
            </li>
            <th:block th:if="${userRole}=='ADMIN'">
            <li th:classappend="${sideMain} == '01' ? 'open'">
                <a class="icon_wrap">
                    <div class="nav_wrap" onclick="sideMenu(this)" th:classappend="${sideMain}=='01' ? 'on'">
                        <div class="icon nav_icon">
                            <div class="imgbox"><img src="/static/images/svg_icon/menuicon01.png" alt=""/></div>
                        </div>
                        장비 관리
                        <img th:classappend="${#strings.startsWith(pageum,'010')} == true ? 'on'" class="side_arrow" src="/static/images/main/menu_arrow.png">
                    </div>
                </a>
                <ul class="menu2">
                    <li th:classappend="${pageum} == '010101' ? 'on'">
                        <a onclick=insertActionLog('장비관리','CheckPc_장비','조회') href="/equip/viewer?pageum=010101">• CheckPC</a>
                    </li>
                    <li th:classappend="${pageum} == '010201' ? 'on'">
                        <a onclick=insertActionLog('장비관리','X-Ray_장비','조회') href="/equip/xray?pageum=010201">• Xray</a>
                    </li>
                    <li th:classappend="${pageum} == '010201' ? 'on'">
                        <a onclick=insertActionLog('장비관리','TRS_장비','조회') href="/equip/trs?pageum=010301">• TRS</a>
                    </li>
                </ul>
            </li>
            </th:block>
            <li th:classappend="${sideMain} == '02' ? 'open'">
                <a class="icon_wrap">
                    <div class="nav_wrap" onclick="sideMenu(this)" th:classappend="${sideMain}=='02' ? 'on'">
                        <div class="icon nav_icon">
                            <div class="imgbox"><img src="/static/images/svg_icon/menuicon02.png" alt=""/></div>
                        </div>
                        이력 관리
                        <img th:classappend="${#strings.startsWith(pageum,'020')} == true ? 'on'" class="side_arrow" src="/static/images/main/menu_arrow.png">
                    </div>
                </a>
                <ul class="menu2">
                    <li th:classappend="${pageum} == '020101' ? 'on'">
                        <a onclick=insertActionLog('이력관리','X-Ray_이미지이력','조회') href="/record/xrayImage?pageum=020101">• X-Ray 이미지 이력</a>
                    </li>
                    <li th:classappend="${pageum} == '020601' ? 'on'">
                        <a onclick=insertActionLog('이력관리','3D_이미지이력','조회') href="/record/threeImage?pageum=020601">• 3D 이미지 이력</a>
                    </li>
                    <li th:classappend="${pageum} == '020701' ? 'on'">
                        <a onclick=insertActionLog('이력관리','수하물이력','조회') href="/record/luggage?pageum=020701">• 수하물 이력</a>
                    </li>
                    <li th:classappend="${pageum} == '020201' ? 'on'">
                        <a onclick=insertActionLog('이력관리','X-Ray_전원이력','조회') href="/record/xrayPower?pageum=020201">• X-Ray 전원 이력</a>
                    </li>
                    <li th:classappend="${pageum} == '020301' ? 'on'">
                        <a onclick=insertActionLog('이력관리','CheckPC_전원이력','조회') href="/record/viewerPower?pageum=020301">• CheckPC 전원 이력</a>
                    </li>
                    <li th:classappend="${pageum} == '020801' ? 'on'">
                        <a onclick=insertActionLog('이력관리','CheckPC_전원이력','조회') href="/record/trsPower?pageum=020801">• TRS 전원 이력</a>
                    </li>
                    <li th:classappend="${pageum} == '020401' ? 'on'">
                        <a onclick=insertActionLog('이력관리','로그인이력','조회') href="/record/login?pageum=020401">• 로그인 이력</a>
                    </li>
                    <li th:classappend="${pageum} == '020501' ? 'on'">
                        <a onclick=insertActionLog('이력관리','활동이력','조회') href="/record/action?pageum=020501">• 활동 이력</a>
                    </li>
                </ul>
            </li>
            <li th:classappend="${sideMain} == '03' ? 'open'">
                <a class="icon_wrap">
                    <div class="nav_wrap" onclick="sideMenu(this)" th:classappend="${sideMain}=='03' ? 'on'">
                        <div class="icon nav_icon">
                            <div class="imgbox"><img src="/static/images/svg_icon/menuicon03.png" alt=""/></div>
                        </div>
                        통계 관리
                        <img th:classappend="${#strings.startsWith(pageum,'030')} == true ? 'on'" class="side_arrow" src="/static/images/main/menu_arrow.png">
                    </div>
                </a>
                <ul class="menu2">
                    <li th:classappend="${pageum} == '030101' ? 'on'">
                        <a onclick=insertActionLog('통계관리','X-Ray_자동판독','조회') href="/statistics/xray?pageum=030101">• X-Ray 자동판독 통계</a>
                    </li>
                </ul>
                <ul class="menu2">
                    <li th:classappend="${pageum} == '030102' ? 'on'">
                        <a onclick=insertActionLog('통계관리','일일통계','조회') href="/statistics/daily?pageum=030201">• 일일통계</a>
                    </li>
                </ul>
            </li>

            </li>
            <th:block th:if="${userRole}=='ADMIN'">
            <li th:classappend="${sideMain} == '05' ? 'open'">
                <a class="icon_wrap">
                    <div class="nav_wrap" onclick="sideMenu(this)" th:classappend="${sideMain}=='05' ? 'on'">
                        <div class="icon nav_icon">
                            <div class="imgbox"><img src="/static/images/svg_icon/menuicon04.png" alt=""/></div>
                        </div>
                        운영 관리
                        <img th:classappend="${#strings.startsWith(pageum,'050')} == true ? 'on'" class="side_arrow" src="/static/images/main/menu_arrow.png">
                    </div>
                </a>
                <ul class="menu2">
                    <li th:classappend="${pageum} == '050101' ? 'on'">
                        <a onclick=insertActionLog('윤양관리','사용자관리','조회') href="/operation/userList?pageum=050101">• 사용자 관리</a>
                    </li>
                    <li th:classappend="${pageum} == '050201' ? 'on'">
                        <a onclick=insertActionLog('윤양관리','관제설정','조회') href="/operation/setting?pageum=050201">• 관제 설정</a>
                    </li>
                </ul>
            </li>
            </th:block>
        </ul>
    </div>

</div>
</div>
</body>
</html>