@charset "utf-8";
/* TABLE CSS */
table caption { display: none; }

.table_top_wrapper {float:left; width:100%; position:relative; box-sizing: border-box; margin-bottom:10px;  display: flex; align-items: flex-end; min-height: 40px; }
.table_top_wrapper .btnBox_num{position: absolute; right:0px; top:0px;  display: flex;flex-direction: row; grid-gap: 5px; } 
.table_top_wrapper .btnBox_num1{position: absolute; right:0px; top:0px;  display: flex;flex-direction: row; grid-gap: 5px; } 
.btnBox_num1-1{display: flex;flex-direction: row;justify-content: flex-end; margin-bottom: 10px; }

.table_top_wrapper .btnBox_num2{position: absolute; right:0px; top:0px;  display: flex;flex-direction: row; grid-gap: 5px; }
.table_top_wrapper .btnBox_num3{position: absolute; right:0px; top:0px;  display: flex;flex-direction: row; grid-gap: 5px; } 
.table_top_wrapper .btnBox_num3-1{position: absolute; right:0px; top:0px;  display: flex;flex-direction: row; grid-gap: 5px; }   
.image_container{width: 48%; height: 210px; margin: 10px; display: inline-block; box-shadow: 3px 3px 10px rgba(0,0,0,0.5);}
.image_container > li {width: 100%; list-style: none; display: flex; justify-content: center; margin-top: 10px;}
.image_container > li > img {width: 49%; height: 180px; object-fit: contain;}
.sImg {width: 5vw; height: 2vw;}

.boardfd_wrap { float: left; width:80px; margin-right: 10px;}
.boardfd_wrap select { background-color: #fff!important;}

.table_top_wrapper2 {float:left; width:100%; position:relative; box-sizing: border-box; margin-bottom:10px;  display: flex; align-items: center; min-height: 40px; }
.table_top_wrapper2 .btnBox_num{position: absolute; right:0px; top:0px;  display: flex;flex-direction: row; grid-gap: 5px; } 
.table_top_wrapper2 .tb_subtitle { font-size: 20px; font-weight: 600; color: #000; padding-left: 30px; position: relative; } 
.table_top_wrapper2 .tb_subtitle::before {display:inline-block; width:20px; height:20px; padding:0; content: "\eb6e"; font-size: 25px; font-family: unicons-line; color: #000; position: absolute; left: 0px; top:2px; } 

.table_top_wrapper3 {float:left; width:100%; position:relative; box-sizing: border-box; margin-bottom:10px;  display: flex; align-items: center; min-height: 40px; }
.table_top_wrapper3 .btnBox_num{position: absolute; right:0px; top:0px;  display: flex;flex-direction: row; grid-gap: 5px; } 
.table_top_wrapper3 .tb_subtitle { font-size: 20px; font-weight: 600; color: #000; padding-left: 30px; position: relative; } 
.table_top_wrapper3 .tb_subtitle::before {display:inline-block; width:20px; height:20px; padding:0; content: "\eb6e"; font-size: 25px; font-family: unicons-line; color: #000; position: absolute; left: 0px; top:2px; } 

.group_grid_type1 { float:left; width:100%; display: grid; grid-template-columns: 1fr 50px 1fr; grid-column-gap: 10px;}
  
.arrow_box {float:left; width:100%; display: flex;     flex-direction: column; justify-content: center; align-items: center;}
.ar_blue i {font-size: 35px; font-family: unicons-line; color: #006ecd; cursor: pointer; }
.ar_grey i {font-size: 35px; font-family: unicons-line; color: #777777; cursor: pointer; }

.page_num_area { float: left; width:100%; position:relative;}
.page_num_box { float: left; width:100%; position:absolute; left: 0; top:-50px;}
.page_num{float:left; margin-bottom: 15px }
.page_num > span{float:left;position:relative;font-weight:300;font-size:15px;line-height:14px;color:#1d1614;letter-spacing:-0.05em}
.page_num > span > em{font-weight:600; color: #1796b5;}
.page_num > span > em ~ em{color:#000; font-weight:600;}
.page_num > span + span{padding-left:10px;margin-left:10px}
.page_num > span + span:after{position:absolute;top:0px;left:0;width:1px;height:16px;background:#e0e0e0;content:""}
.page_num > span.rss:after{display:none}
.page_num a{display:block;width:24px;height:24px;padding:3px;margin-top:3px;background:#e36500;text-align:center}
.page_num a > i[class*="xi-"]{display:block;font-size:0.900em;line-height:1em;color:#fff}

.tableList_wrap { float:left; width:100%; display: flex; flex-direction: row; justify-content: flex-start; position: relative; }

.table_main  { width:100%;float:left; box-sizing: border-box;  }
.table_main .tb_h { background-color: #fff; margin-bottom:5px ;gap:1% ; padding: 5px 10px;   border-bottom: 1px solid #333;font-size: 15px; font-weight: 600; font-family: 'Noto Sans KR'; color: #344976; position: sticky; top: 0px; left: 0px;  margin-bottom: 0px; }
.table_main .tb_h > th {padding-bottom: 15px;}
.table_main .tb_d_wrap {width: 100%; float: left }
.table_main .tb_d { grid-gap: 1%; background-color: #ffffff;  padding: 4px 10px; border-bottom: 1px solid #ececec; font-weight: 600; font-family:  'NanumSquare'; color: #000 ; }
.table_main .tb_d:last-child{ grid-gap: 1%; background-color: #ffffff;  padding: 4px 10px; border-bottom: 0px solid #ececec; font-weight: 500; font-family:  'NanumSquare'; color: #000 ; }
.table_main .tb_d > td{text-align: center; padding:15px 10px 0; font-family: 'NanumSquare'; font-weight: 600;}
.table_main .tb_d:hover{ background-color: #FCFCFC;  }
.table_main .tb_h>.th{width: 100%; float: left; text-align: center; padding:7px 10px; }
.table_main .tb_d>.td{width: 100%; float: left; text-align: center; padding:7px 10px; font-size: 14px; color: #000;  position: relative; }
.table_main .tb_d>.td.txt_right {text-align: right!important;}
.table_main .tb_d>.td.txt_left {text-align: left!important;}  
.table_main .tb_d>.td.txt_blue { color: #4181b7!important; }

.td_btn{text-align: center;}

.table_com  { width:100%;float:left; box-sizing: border-box;  }
.table_com .tb_h { background-color: #fff; margin-bottom:5px ; padding: 5px 0px;  border: 1px solid #ccc; border-bottom: 2px solid #333;font-size: 15px; font-weight: 600; font-family: 'Noto Sans KR'; color: #333; position: sticky; top: 0px; left: 0px;border-radius: 10px 10px 0px 0px; margin-bottom: 0px;  box-shadow:3px 3px 10px rgba(0,0,0,0.1);}
.tb_d_wrap {width: 100%; float: left }
.img_wrap{    background: white;    border-bottom-right-radius: 5px;    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);}
.tb_d_wrap2 {width: 100%; float: left;height: 460px; box-sizing: border-box; overflow-x: hidden; overflow-y: scroll; }

.table_com .tb_d { background-color: #ffffff;  padding: 4px 0px; border-bottom: 1px solid #ececec; font-weight: 500; font-family:  'NanumSquare'; color: #000 ;  display: flex;  align-items: center;flex-direction: row; }
.table_com .tb_d:last-child{  background-color: #ffffff;  padding: 4px 0px; border-bottom: 1px solid #ececec; border-radius: 0px 0px 10px 10px; font-weight: 500; font-family:  'NanumSquare'; color: #000 ; }
.table_com .tb_d:hover{ background-color: #FCFCFC;  }
.table_com .tb_h>.th{width: 100%; float: left; text-align: center; padding:10px 0px; }
.table_com .tb_d>.td{width: 100%; float: left; text-align: center; padding:10px 0px; font-size: 14px; color: #000;  position: relative; }  
.table_com .tb_d>.td a{font-size: 14px; color: #000;  }  
.table_com .tb_d>.td a:hover{font-size: 14px; color: var(--div-color1)!important;  }  
.table_com .tb_d>.td a:hover, .table_com .tb_d>.td a:focus { color: #000000;}
.table_com .tb_d>.td.txt_right {text-align: right!important;}
.table_com .tb_d>.td.txt_left {text-align: left!important;}  

.table_ch_wrap{width: 100%; float: left; font-size: 15px; border-top: none; text-align: center; position: relative; cursor: pointer}

.table_st1 .tb_h, .table_st1 .tb_d { width: 100%; float: left;  grid-template-columns:  5% 7% auto 7% 10% 10% 12% 12% 7%; display: grid; }
.table_st2 .tb_h, .table_st2 .tb_d { width: 100%; float: left;  grid-template-columns: 7% auto 10% 20% 20% 10%; display: grid; }
.table_st3 .tb_h, .table_st3 .tb_d { width: 100%; float: left;  grid-template-columns:  12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%; display: grid; }
.table_st4 .tb_h, .table_st4 .tb_d { width: 100%; float: left;  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%; display: grid; }
.table_st5 .tb_h, .table_st5 .tb_d { width: 100%; float: left;  grid-template-columns: 10% auto 15% 15% 20% 15%; display: grid; }
.table_st6 .tb_h, .table_st6 .tb_d { width: 100%; float: left;  grid-template-columns:  10% auto 10% 30%; display: grid; }
.table_st6 .tb_d .td:nth-child(2){ cursor:pointer;}		
.table_st7 .tb_h, .table_st7 .tb_d { width: 100%; float: left;  grid-template-columns:  7% 20% 10% 10% 10% auto; display: grid; }
.table_st7 .tb_d .td:nth-child(2){ cursor:pointer}	
.table_st8 .tb_h, .table_st8 .tb_d { width: 100%; float: left;  grid-template-columns:  7% 10% 10% auto 15% 15% 9% 9% 9%; display: grid; }
.table_st9 .tb_h, .table_st9 .tb_d { width: 100%; float: left;  grid-template-columns:  auto 14% 14% 14% 14% 14%; display: grid; }
.table_st11 .tb_h, .table_st11 .tb_d { width: 100%; float: left;  grid-template-columns:  10% auto 20% 20% 20%; display: grid; }
.table_st12 .tb_h, .table_st12 .tb_d { width: 100%; float: left;  grid-template-columns:  4% 9% 10% 8% 12% 8% 8% 12% 8% 5% 5% 5% 5%; display: grid; }
.table_st13 .tb_h, .table_st13 .tb_d { width: 100%; float: left; grid-template-columns: 5% 8% 10% auto 5% 15% 15% 7% 5%; display: grid; }
.table_st14 .tb_h, .table_st14 .tb_d { width: 100%; float: left; grid-template-columns: 5% 8% 10% 5% 12% 7% auto 7% 5%; display: grid; }
.table_st15 .tb_h, .table_st15 .tb_d { width: 100%; float: left; grid-template-columns: 15% 20% auto 10% 15% 15%; display: grid; }
.table_st16 .tb_h, .table_st16 .tb_d { width: 100%; float: left; grid-template-columns: 5% 8% auto 8% 15% 8% 8% 8%; display: grid; }
.table_st17 .tb_h, .table_st17 .tb_d { width: 100%; float: left; grid-template-columns: 15%  auto 15% 8% 15% 15%; display: grid; }
.table_st18 .tb_h, .table_st18 .tb_d { width: 100%; float: left;  grid-template-columns: 15% 30% auto; display: grid; }
.table_st19 .tb_h, .table_st19 .tb_d { width: 100%; float: left;  grid-template-columns: 20% auto; display: grid; }
.table_st20 .tb_h, .table_st20 .tb_d { width: 100%; float: left; grid-template-columns: 10% auto 20% 13% 13% 13%; display: grid; }
.table_st23 .tb_h, .table_st23 .tb_d { width: 100%; float: left;  grid-template-columns: 33.3% 33.3% 33.3%; display: grid; }
.table_st22 .tb_h, .table_st22 .tb_d { width: 100%; float: left;  grid-template-columns:  50% 50%; display: grid; }
.table_st24 .tb_h, .table_st24 .tb_d { width: 100%; float: left;  grid-template-columns: 20% 20% 20% 20% 20%; display: grid; }
.table_st25 .tb_h, .table_st25 .tb_d { width: 100%; float: left;  grid-template-columns: 25% 25% 25% 25%; display: grid; }

.tb_d>.td .label_edit {width:28PX; height: 27px; color: #3186a3; text-align: center;  padding: 3px 0px 2px; line-height: 100%;  border-radius: 4px; background-color: #ebedf5; font-size: 12px; margin: 0 auto;cursor: pointer;} /*편집*/
.tb_d>.td .label_edit i { display:inline-block; font-size: 22px; color: #267a95; } 
.tb_d>.td .label_useMng {width:28PX; height: 27px; color: #3186a3;text-align: center;  padding: 3px 0px 2px; line-height: 100%;  border-radius: 4px; background-color: #ebedf5; font-size: 12px; margin: 0 auto;cursor: pointer;} /*사용자관리*/
.tb_d>.td .label_useMng i { display:inline-block; font-size: 22px; color: #267a95; }  
.tb_d>.td .label_view {width:28PX; height: 27px; color: #3186a3;text-align: center;  padding: 3px 0px 2px; line-height: 100%;  border-radius: 4px; background-color: #ebedf5; font-size: 12px; margin: 0 auto; cursor: pointer;} /*사용자관리*/
.tb_d>.td .label_view i { display:inline-block; font-size: 22px; color: #267a95; }    
.tb_d>.td .label_modify {width:80px;height: 27px;  text-align: center; line-height: 27px; display: flex; flex-direction: row; justify-content: center; align-items: center;border-radius: 4px; background-color: #343F93; font-size: 12px; color: #fff; margin: 0 auto;cursor: pointer;} /*임계치 수정*/
  
 /**/  
.tb_d>.td .label_detail {width:40px;height: 27px;  text-align: center; line-height: 27px; display: flex; flex-direction: row; justify-content: center; align-items: center;border-radius: 4px; background-color: #343F93; font-size: 12px; color: #fff; margin: 0 auto;cursor: pointer;} /*상세*/
  
 /**/  
.tb_d>.td .label_initial {width:60px;height: 27px;  text-align: center; line-height: 27px; display: flex; flex-direction: row; justify-content: center; align-items: center;border-radius: 4px; background-color: #343F93; font-size: 12px; color: #fff; margin: 0 auto;cursor: pointer;} /*초기화*/    
  
 /**/ 
.tb_d>.td .label_success{width:56px;height: 27px; text-align: center; line-height: 27px; display: flex; flex-direction: row; justify-content: center; align-items: center; border-radius: 40px; background-color: #409fc9; font-size: 12px; color: #fff; margin: 0 auto;} /*성공*/
.tb_d>.td .label_fail{width:56px;height: 27px; text-align: center; line-height: 27px; display: flex; flex-direction: row; justify-content: center; align-items: center; border-radius: 40px; background-color: #fb7070; font-size: 12px; color: #fff; margin: 0 auto;} /*실패*/ 
  
 /**/ 
.tb_d>.td .label_yes{width:40px; height: 27px;text-align: center; line-height: 27px; display: flex; flex-direction: row; justify-content: center; align-items: center; border-radius: 4px; background-color: #006ecd; font-size: 12px; color: #fff; margin: 0 auto;} /*Y*/
.tb_d>.td .label_no{width:40px;height: 27px; text-align: center; line-height: 27px; display: flex; flex-direction: row; justify-content: center; align-items: center;  border-radius: 4px; background-color: #686868; font-size: 12px; color: #fff; margin: 0 auto;} /*N*/
  
 /**/ 
.tb_d>.td .label_inuse {width:60px; height: 27px; text-align: center; line-height: 27px; display: flex; flex-direction: row; justify-content: center; align-items: center; border-radius: 4px; background-color: #006ecd; font-size: 12px; color: #fff; margin: 0 auto; cursor: pointer; } /*사용중*/
.tb_d>.td .label_unused {width:60px;height: 27px; text-align: center; line-height: 27px; display: flex; flex-direction: row; justify-content: center; align-items: center;  border-radius: 4px; background-color: #686868; font-size: 12px; color: #fff; margin: 0 auto; cursor: pointer;} /*사용안함*/  

.form_item { border-bottom: 1px solid #ccc; }
.form_item dl {width: 100%; height: 100%; float: left;grid-template-columns: 190px auto;  display: grid; grid-gap: 0px; border-bottom: 1px solid #cccccc!important; }
.form_item dt {width: 100%; height: 100%;   float: left;  text-align:left!important; background-color: rgba(244,245,249,0.5); padding: 10px 20px 10px 40px; font-weight: 500; color: #333333; font-size:15px; word-break: keep-all; word-wrap: break-word;  box-sizing: border-box; display: flex; justify-content: center; flex-direction: column; align-items: flex-start; position: relative;}
.form_item dd input.w_200{ width:200px;}
.form_item dd { width: 100%;  height: 100%;  float: left; font-size:15px;  padding: 10px 10px;  box-sizing: border-box; color: #000; font-weight: 300;display:table-cell; word-wrap: break-word; word-break: keep-all; line-height: 40px; }
.form_item dd.form_ingrid { display: grid; grid-template-columns:60% auto;}
.form_item dd.form_ingrid2 { display: grid; grid-template-columns:2fr 1fr; column-gap: 10px; }
.form_item dd.form_ingrid3 { display: grid; grid-template-columns:auto 1fr; column-gap: 60px; }
.form_item dd.form_ingrid3 em {  font-size: 14px; font-weight: 700;}
.form_item dd.form_ingrid3 em::before {  font-size: 14px; font-weight: 700;  content: ":      "}

.editor_wrap{ width: 100%; padding-top:0; border-top:0 none }
.editor_wrap .editor{ min-height:250px; border: 1px solid #ccc }

.form_grid_customer { width:100%; display: grid; grid-template-columns: 1fr 1fr; border-top: 1px solid #999 !important; overflow: hidden; background-color: #fff;    box-shadow: 3px 3px 10px rgb(0 0 0 / 4%);}
.form_grid_customer > div.form_item:nth-child(9) {grid-column: 1 / span 2;}
.form_grid_customer > div.form_item:last-child { border-bottom: none;}

.form_grid_pw { width:700px; display: grid; border-bottom: 1px solid #999 !important; border-top: 3px solid #333; overflow: hidden; }
.form_grid_pw > div.form_item:last-child { border-bottom: none;}

.necessary {width:20px;  height:20px;  float: left; position: relative; margin-right:-2px   }
.necessary_item {width:20px;  height:20px;  float: left; position: relative; margin-right:-2px   }

.item_check { margin: 10px 0 10px 15px; line-height: 40px; }

.common_pagination {float:left; width:100%; display:flex; justify-content: center; margin-top: 40px;  font-family: 'Noto Sans KR'; font-weight: 600; }
.common_pagination a {width:28px; height:27px; display:inline-block; background-position:center center; background-repeat:no-repeat; font-size:14px; font-weight:600; color:#999; }
.common_pagination a.disabled {cursor:default;}

.common_pagination a.front { float: left; width:auto; padding-left: 22px; display: flex; flex-direction: row; align-items: center; justify-content: flex-start; color: #000000; margin-right: 16px; font-size: 11px; font-family: 'Noto Sans KR'; font-weight: 600; line-height: 27px; padding-top: 2px; box-sizing: border-box;
background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.5.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='레이어_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23000000;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cpath class='st0' d='M17.5,23.5L6.5,12l11-11.5'/%3E%3C/svg%3E%0A");
background-repeat: no-repeat no-repeat;
background-position: center center;
background-size: 60%;}
  
.common_pagination a.front.disabled {background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.5.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='레이어_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23D1D1D1;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cpath class='st0' d='M17.5,23.5L6.5,12l11-11.5'/%3E%3C/svg%3E%0A");
background-repeat: no-repeat no-repeat;
background-position: center center;
background-size: 60%; pointer-events: none; }

.common_pagination a.first { float: left; width:auto; padding-left: 22px; display: flex; flex-direction: row; align-items: center; justify-content: flex-start; color: #000000; margin-right: 16px; font-size: 11px; font-family: 'Noto Sans KR'; font-weight: 600; line-height: 27px; padding-top: 2px; box-sizing: border-box;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' d='M23.5 12H.5M8 19.5.5 12 8 4.5' data-name='Arrow 2 Right'/%3E%3C/svg%3E");
background-repeat: no-repeat no-repeat;
background-position: left center;
background-size: 27%;}

.common_pagination a.first.disabled {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23d1d1d1' stroke-linecap='round' stroke-linejoin='round' d='M23.5 12H.5M8 19.5.5 12 8 4.5' data-name='Arrow 2 Right'/%3E%3C/svg%3E");
background-repeat: no-repeat no-repeat;
background-position: left center;
background-size: 27%;
color: #d1d1d1; pointer-events: none;}

.common_pagination a.back { float: left; width:auto; padding-left: 22px; display: flex; flex-direction: row; align-items: center; justify-content: flex-start; color: #000000; margin-left: 16px; font-size: 11px; font-family: 'Noto Sans KR'; font-weight: 600; line-height: 27px; padding-top: 2px; box-sizing: border-box;
background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.5.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='레이어_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23000000;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cpath class='st0' d='M6.5,0.5l11,11.5l-11,11.5'/%3E%3C/svg%3E ");
background-repeat: no-repeat no-repeat;
background-size: 60%;}

.common_pagination a.back.disabled {background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.5.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='레이어_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23D1D1D1;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cpath class='st0' d='M6.5,0.5l11,11.5l-11,11.5'/%3E%3C/svg%3E ");
background-repeat: no-repeat no-repeat;
background-position: center center;
background-size: 60%;
    pointer-events: none;
}
  
  
  
  
.common_pagination a.last { float: left; width:auto; padding-right: 22px; display: flex; flex-direction: row; align-items: center; justify-content: flex-start; color: #000000; margin-left: 16px;  font-size: 11px; font-family: 'Noto Sans KR'; font-weight: 600; line-height: 27px; padding-top: 2px; box-sizing: border-box;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' d='M.5 12h23M16 4.5l7.5 7.5-7.5 7.5' data-name='Arrow 2 Left'/%3E%3C/svg%3E");
background-repeat: no-repeat no-repeat;
background-position: right center;
background-size: 27%;}

.common_pagination a.last.disabled {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23d1d1d1' stroke-linecap='round' stroke-linejoin='round' d='M.5 12h23M16 4.5l7.5 7.5-7.5 7.5' data-name='Arrow 2 Left'/%3E%3C/svg%3E");
background-repeat: no-repeat no-repeat;
background-position: right center;
background-size: 27%;
color: #d1d1d1;pointer-events: none;}

.common_pagination div {display:flex; }
.common_pagination div a {margin:0 4px; text-align:center; line-height:27px;}
.common_pagination div a:hover,
.common_pagination div a:focus,
.common_pagination div a:active {color: #000;}
.common_pagination div a.active {background-color:#388da9; color: #ffffff; text-decoration:none; width: 28px; height: 27px; line-height: 27px; display: flex; flex-direction: row; justify-content: center; border-radius: 4px; }

/*테이블 리스트 공통*/
.tb_list_com { width: 100%; float:left; border-top:2px solid #000; }
.tb_list_com .tr { width:100%; float:left;  border-bottom:1px solid #ccc;}
.tb_list_com .th { width:100%; height: auto; float:left; padding: 10px 10px 10px 26px; background-color: rgba(244,245,249,0.9); border-radius: 0px;  font-size: 14px; font-weight: 600; display: flex; align-items: center; color: #333; }
.tb_list_com .td { width:100%; height: auto; float:left; background-color: #fff; font-size: 14px; line-height: 160%;
  word-break: break-word; /*display: flex; flex-direction: row; align-items: center;*/ padding: 10px; color: #333; }

.tb_list_com2 { width: 46.4%; float:left;}
.tbt{border-top:1px solid #ccc; }
.tb_list_com2 .tr { width:100%; float:left;  border-bottom:1px solid #ccc;}
.tb_list_com2 .th { width:100%; height: auto; float:left; padding: 10px 10px 10px 26px; background-color: rgba(244,245,249,0.9); border-radius: 0px;  font-size: 14px; font-weight: 600; display: flex; align-items: center; color: #333; }
.tb_list_com2 .td { width:100%; height: auto; float:left; background-color: #fff; font-size: 14px; line-height: 160%;
    word-break: break-word; /*display: flex; flex-direction: row; align-items: center;*/ padding: 10px; color: #333; }


/*테이블 리스트 스타일*/
.tb_list_st1 .tr { display: grid; grid-template-columns: 140px auto; grid-gap: 10px;} 
.tb_list_st1 .tr>.td input.ws_80 { width: 80px;} 

.grid-table-com { float:left; width:100%; margin-bottom: 30px;}
.grid-table01-head {  width: 100%; float: left;   background-color:#ffffff;  border: 1px solid #ccc;  border-bottom: 2px solid #333; border-radius: 10px 10px 0px 0px;   overflow: hidden; margin-bottom: 0px; position: sticky; top: 0px; left: 0px; box-shadow:3px 3px 10px rgba(0,0,0,0.1);font-size: 15px; font-weight: 600;font-family: 'Noto Sans KR'; color: #333; padding: 15px 0px;}
.grid-table01-head.grid_th_st1 { display: grid;  grid-template-columns:  20% 20% 20% auto ;}  
.grid-table01-head.grid_th_st2 { display: grid;  grid-template-columns:  20% 20% auto ;}    
  
.grid-table01-head > div {  text-align: center; height: 100%;  ; font-size: 15px; font-weight: 700; font-family: 'Noto Sans KR', sans-serif;  color: #000 ; }
.grid-table01-head > div:last-child { border-right: none;}

.grid-table01-d1 {width: 100%; float: left; display: grid;  grid-template-columns:  20% auto ;border-bottom: 1px solid #999; }
.grid-table01-d1 > div {  text-align: center; border-right: 1px solid #ccc; height: 100%;  ; font-size: 15px; }
.grid-table01-d1 > div.td_title{  display: flex;  justify-content: center;  align-items: center;   background-color:#f7f7f7; }	
.grid-table01-d1 > div:last-child{border-right: none}	


.grid-table01-d2 { width: 100%; float: left;  overflow: hidden; border-bottom: 1px solid #ccc; line-height: 40px}
.grid-table01-d2.grid_td_st1 {  display: grid;  grid-template-columns:  25% 25% auto ; }
.grid-table01-d2.grid_td_st2 {  display: grid;  grid-template-columns:  25% auto ; }
.grid-table01-d2:last-child {border-bottom: none;}

.grid-table01-d2 > div { width: 100%;   text-align: center; border-right: 1px solid #ccc; height: 100%;  ; font-size: 15px; background-color: #ffffff; padding: 0 10px; }
.grid-table01-d2 > div.td_total{ background-color:#f7f7f7; color: #D6131B;}	
.grid-table01-d2 > div.td_subtotal{ background-color:#f7f7f7; color: #006ecd;}
.grid-table01-d2 > div.td_left{ text-align: left; }	
.grid-table01-d2 > div.td_right { text-align: right; }	  
  
.grid-table01-d2 > div.td_title{  display: flex; border-right: 1px solid #ccc; justify-content: center;  align-items: center;   background-color:#f7f7f7; border-bottom: none;}	
.grid-table01-d2 > div.td_cnt{ background-color: #ffffff; }
.grid-table01-d2 > div:last-child {border-bottom: none; border-right: none;}

  /*NO DATA*/
.no_data { grid-template-columns: 100%!important; display: grid; } 
.no_data { float:left; width: 100%; height: 380px;  text-align: center; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;
background: url("../images/sub/nodata.png")no-repeat center 100px; background-repeat: no-repeat no-repeat; }
.no_data p { color: #858585; font-size: 14px; font-family: 'Noto Sans KR'; font-weight:600; }

.grid-table01-d2 > div.td_title.row_h6{ grid-row: 1 / 7;  border-bottom: none;  ;}
.grid-table01-d2 > div.td_title.row_h5{ grid-row: 1 / 6;  border-bottom: none; ;}
.grid-table01-d2 > div.td_title.row_h4{ grid-row: 1 / 5;  border-bottom: none; ;}
.grid-table01-d2 > div.td_title.row_h3{ grid-row: 1 / 4;  border-bottom: none; ;}		
.grid-table01-d2 > div.td_title.row_h2{ grid-row: 1 / 3;  border-bottom: none; ;}

.table_st21 .tb_h>.th{width: 100%; float: left; text-align: center; padding:0px 0px; }
.table_st21 .tb_h {  padding: 0px!important;  margin: 0px!important  }
.table_st21 .tb_h .th .thead_inbox{ width: 100%;  float: left; grid-template-columns: 50%  50%; display: grid; align-items: stretch;}
.table_st21 .tb_h .th .thead_inbox div{ padding: 10px 0px!important; align-self: stretch;}
.table_st21 .tb_h .th .thead_inbox div:nth-child(1) {grid-column: 1 / 3; border-bottom: 1px solid #ccc;}
.table_st21 .tb_h .th .thead_inbox div:nth-child(2) {border-right: 1px solid #ccc;}
.table_st21 .tb_h .th .thead_inbox div:last-child {border-right:none;}
.table_st21 .tb_h .th:nth-child(2) {background-color: #EAEEF4}
.table_st21 .tb_h>div:last-child {border-right:none;}
.table_st21 .tb_h:last-child {border-right:none;}
.table_st21 .tb_h .th .thead_inbox:last-child {border-right:none;}
.table_st21 .tb_d{width: 100%; float: left; text-align: center; padding:0px 0px!important; margin-bottom: 0px; align-items: stretch; justify-content: center; }
.table_st21 .tb_d>.td{width: 100%; float: left; text-align: center; padding:0px 0px;border-right: 1px solid #ddd ;  display: flex;  justify-content: center;  align-items: center;}
.table_st21 .tb_d .td .td_inbox{ width: 100%;  float: left; grid-template-columns: 50%  50%; display: grid; align-items: stretch;border-right: 1px solid #ddd}
.table_st21 .tb_d .td .td_inbox div{ padding: 10px 0px!important; align-self: stretch; border-right: 1px solid #ddd}
.table_st21 .tb_d .td:nth-child(2) {background-color: rgba(234,238,244,0.2)}
.table_st21 .tb_d .td .td_inbox div:last-child {border-right:none;}
.table_st21 .tb_d .td .td_inbox:last-child {border-right:none;}

.statics_wrapper{width: 100%; display: flex;}
.statics_number{float: left; width: 100%; border: 1px solid #d4d4e3; background-color: #fff; padding: 22px; border-radius: 10px; font-size: 15px; font-weight: 600; font-family: 'Noto Sans KR'; margin-bottom: 20px; box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.08); text-align: center;}
.statics_center{ margin: 0 50px 20px 50px;}
.statics_list{ float: left; width: 50%; display: flex; flex-direction: row; justify-content: flex-start; position: relative;}
.statics_sub_list{ height: 47vh; overflow: scroll;}
.chart_wrapper{ width: 50%; height: 52vh; text-align: -webkit-center;}
.chart_wrapper > canvas { width: 100%;}
.valid_error{ color: red; margin-top: 5px; display: none;}





