
@charset "utf-8";



/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*CUBOX-관리자 start*/

/* 업체등록 모달 - grid */
.input_grid1 { float:left; width:100%; display:grid; grid-template-columns: 100%;  }
.input_grid2 { float:left; width:100%; display:grid; grid-template-columns: repeat(2, 1fr);  grid-column-gap: 40px;}




/*  - grid */

/**** pc ****/
@media only all and (min-width:1025px) {

.bottomBtn_wrap1 { float: left; width:100%; margin-top: 30px; display: flex; flex-direction: row; justify-content: flex-end; grid-column-gap: 5px; } 
.bottomBtn_wrap2 { float: left; width:100%; margin-top: 30px; display: flex; flex-direction: row; justify-content: flex-end; grid-column-gap: 5px; }   

}
/**** pc2 ****/
@media all and (max-width:1280px) and (min-width:1025px) {
}
/**** 모바일 ****/
@media only all and (max-width:1024px) {

.bottomBtn_wrap1 { float: left; width:100%; margin-top: 30px; display: grid;grid-template-columns: 1fr 1fr ; grid-column-gap: 5px; }
.bottomBtn_wrap2 { float: left; width:100%; margin-top: 30px; display: grid;grid-template-columns: auto; grid-column-gap: 5px; }  
}


/**** pc ****/
@media only all and (min-width:1025px) {
.imgBox_grid { float: left; width:100%; display: grid; grid-template-columns: 1fr 1fr ; grid-column-gap: 15px; } 
}
/**** pc2 ****/
@media all and (max-width:1280px) and (min-width:1025px) {
}
/**** 모바일 ****/
@media only all and (max-width:1024px) {
.imgBox_grid { float: left; width:100%; display: grid; grid-template-columns: 1fr 1fr ; grid-column-gap: 15px; } 

}










