<!--==================================================================
프로젝트명 : 통합관리시스템
작성지 : 신정호
작성일 : 2023년 11월 22일
용도 : 메인페이지
==================================================================-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content" id="body_area_in2" >
<script src="/static/js/main.js" charset="utf-8"></script>
<style type="text/css">
@keyframes dash1{ from{stroke-dashoffset:600px;} to{	stroke-dashoffset:calc(600px - 6 * 85px);}}
@keyframes dash2{from{stroke-dashoffset:600px;}	to{	stroke-dashoffset:calc(600px - 6 * 75px);}	}
</style>

<div class="intro_allbg">
  <div class="m_cnt04">
   <div>
      <div class="mTitle_wrap">
        <div class="m_title">일일 통계</div>
      </div>
      <div class="mbox"> 
        <table class="table_main">
          <tr class="tb_h">
            <th>수하물 촬영 횟수</th>
            <th>탐지 물품 개수</th>
            <th>개봉 횟수</th>
            <th>비고</th>
          </tr>
          <tr class="tb_d">
            <td>10</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="m_cnt04">
    <div>
      <div class="mTitle_wrap">
        <div class="m_title">장비 통계</div>
      </div>
      <div class="mbox">
        <table class="table_main">
          <tr class="tb_h">
            <th>X-Ray</th>
            <th>TRS</th>
            <th>Check PC</th>
            <th>신발검색기</th>
            <th>원형검색기</th>
            <th>문형 금속탐지기</th>
          </tr>
          <tr class="tb_d">
            <td>10대</td>
            <td>10대</td>
            <td>10대</td>
            <td>10대</td>
            <td>10대</td>
            <td>10대</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="m_cnt03">
    <div>
      <div class="mTitle_wrap">
        <div class="m_title">X-ray판독이력</div>
        <div class="more_viewBtn"></div>
      </div>
      <div class="mbox"> 
        
        <!--테이블리스트-->
        <div class="tableList_wrap">
          <div class="table_main table_st20">
            <div class="tb_h">
              <div class="th">번호</div>
              <div class="th">판독일</div>
              <div class="th">Luggage ID</div>
              <div class="th">인증결과</div>
              <div class="th">매칭점수</div>
              <div class="th">기준점수</div>
            </div>
            <!--구분선-->
            
            <div class="tb_d_wrap">
              <div class="tb_d">
                <div class="td">1</div>
                <div class="td">2022-11-15 10:26:56</div>
                <div class="td" >LUG001</div>
                <div class="td">
                  <div class="label_success">성공</div>
                </div>
                <div class="td txt_blue" >0.915</div>
                <div class="td" >0.600</div>
              </div>
              <!--구분선-->
              
              <div class="tb_d">
                <div class="td">1</div>
                <div class="td">2022-11-15 10:26:56</div>
                <div class="td" >LUG002</div>
                <div class="td">
                  <div class="label_fail">실패</div>
                </div>
                <div class="td txt_blue" >0.915</div>
                <div class="td" >0.600</div>
              </div>
              <!--구분선-->
              
              <div class="tb_d">
                <div class="td">1</div>
                <div class="td">2022-11-15 10:26:56</div>
                <div class="td" >LUG003</div>
                <div class="td">
                  <div class="label_success">성공</div>
                </div>
                <div class="td txt_blue" >0.915</div>
                <div class="td" >0.600</div>
              </div>
              <!--구분선--> 
              
            </div>
            <!--//테이블--> 
          </div>
        </div>
        <!--//테이블리스트--> 
        
      </div>
    </div>
    <div>
      <div class="mTitle_wrap">
        <div class="m_title">장비 관리</div>
        <div class="more_viewBtn"></div>
      </div>
      <div class="deviceSet_wrap">
        <div class="deviceSet_box">
          <img src="/static/images/main/ic_deviceMng1.png">
          <div class="text_set"><div class="tit">X-ray장비 조회<span class="label_new">NEW</span></div><div class="tit_s">X-Ray 장비 리스트를 보실 수 있습니다.</div></div>
          <a href="/equip/xray?pageum=010101" class="moreBtn"><i class="uil uil-angle-right-b"></i></a>
        </div>
        <div class="deviceSet_box">
          <img src="/static/images/main/ic_deviceMng2.png">
          <div class="text_set"><div class="tit">Viewer장비 조회</div><div class="tit_s">Viewer 장비 리스트를 보실 수 있습니다.</div></div>
          <a href="/equip/viewer?pageum=010201" class="moreBtn"><i class="uil uil-angle-right-b"></i></a>
        </div>
        <div class="deviceSet_box">
          <img src="./static/images/main/ic_deviceMng3.png">
          <div class="text_set"><div class="tit">X-Ray 이미지 이력</div><div class="tit_s">X-Ray이미지 이력을 보실 수 있습니다.</div></div>
          <a href="/record/xrayImage?pageum=020101" class="moreBtn"><i class="uil uil-angle-right-b"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Tab menu--> 
<script>
function openCategory(evt, categoryName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(categoryName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script> 
<!--Tab menu2--> 
<script>
function openCategory2(evt, categoryName) {
  var i, tabcontent2, tablinks2;
  tabcontent2 = document.getElementsByClassName("tabcontent2");
  for (i = 0; i < tabcontent2.length; i++) {
    tabcontent2[i].style.display = "none";
  }
  tablinks2 = document.getElementsByClassName("tablinks2");
  for (i = 0; i < tablinks2.length; i++) {
    tablinks2[i].className = tablinks2[i].className.replace(" active", "");
  }
  document.getElementById(categoryName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
</div>
</html>

