<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/img/baggage.png" rel="shortcut icon" type="image/x-icon">
    <title>통합관리 시스템</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/all.css" >
    <script type="text/javascript" src="/static/js/Moment.js"></script>
    <script type="text/javascript" src="/static/js/func.js"></script>
</head>
<!--<body class="css_v1">
<div id="login_wrap">
    <form id="frmLogin">
        <div id="login_inbox">
            <div class="item_group">
                <div class="login_logo2">
                    <img src="/static/img/logo/logo_cubox.png" alt="">
                </div>
                <div class="title_type1">[국토부]지능형 휴대 수하물</div>
                <div class="fl_box">
                    <div class="tx_box">아이디</div>
                    <div class="input_inbox">
                        <div class="icon">
                            <img src="/static/img/login/login_icon1.png" alt="">
                        </div>
                        <input id="loginId" type="text" onkeyup="enterKey()" placeholder="Username" autocomplete="off">
                        <p class="loginCheck">아이디를 입력해주세요</p>
                    </div>
                    <div class="tx_box">비밀번호</div>
                    <div class="input_inbox">
                        <div class="icon">
                            <img src="/static/img/login/login_icon2.png" alt="">
                        </div>
                        <input type="password" onkeyup="enterKey()" id="loginPwd" placeholder="Password">
                        <p class="loginCheck">비밀번호를 입력해주세요</p>
                        <p id="userCheck" class="loginCheck">아아디 혹은 비밀번호를 확인 해주세요.</p>
                    </div>
                    <button type="button" class="login_btn mt_30 mr_20" onclick="apiLogin()">로그인</button>
                </div>
                <div class="join_box">
                    <div class="txbox">아이디/비밀번호는 대소문자 구별합니다. 입력 시 유의하세요. 보안을 위해 이용 후 반드시 로그아웃 해주시기 바랍니다.</div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>-->
<body class="css_v1">
<div class="login_wrap">
    <div class="login_inbox">

        <div class="item_group">
            <div class="login_logo1"><img src="/static/images/common/logo3.png"  alt="K-Face Admin"/></div>
            <div class="title_type1">Administrator Console Login</div>

            <!--tab  end -->
            <!-- 1  : start-->
            <form id="frmLogin">
            <div id="lgn_view1" class="tabcontent" style="display: block;">
                <div class="member_set">
                    <div class="title mb_10">아이디</div>
                    <div class="textfd_wrap">
                        <div class="icon1"></div>
                        <input onkeyup="enterKey()" id="loginId" type="text" placeholder="Administrator ID">
                        <!--<p class="loginCheck">아이디를 입력해주세요</p>-->
                    </div>
                </div>
                <div class="member_set mt_20">
                    <div class="title mb_10">비밀번호</div>
                    <div class="textfd_wrap">
                        <div class="icon2"></div>
                        <input onkeyup="enterKey()" id="loginPwd" type="password" placeholder="비밀번호">
                        <!--<p class="loginCheck">비밀번호를 입력해주세요</p>-->
                    </div>
                </div>
                <button type="button" onclick="apiLogin()" class="btn">LOGIN</button>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>