
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/img/baggage.png" rel="shortcut icon" type="image/x-icon">
    <title>통합관리 시스템</title>
    <script type="text/javascript" src="/static/js/jquery_3.7.0.js"></script>
    <link rel="stylesheet" href="/static/css/all.css" >
    <script type="text/javascript" src="/static/js/Moment.js"></script>
    <script type="text/javascript" src="/static/js/func.js"></script>
</head>
<body class="css_v1">
<div class="login_wrap">
    <div class="login_inbox">

        <div class="item_group">
            <div class="login_logo1"><img src="/static/images/common/logo3.png"  alt="K-Face Admin"/></div>
            <div class="title_type1">Administrator Console Login</div>

            <!--tab  end -->
            <!-- 1  : start-->
            <form id="frmLogin">
            <div id="lgn_view1" class="tabcontent" style="display: block;">
                <div class="member_set">
                    <div class="title mb_10">아이디</div>
                    <div class="textfd_wrap">
                        <div class="icon1"></div>
                        <input onkeyup="enterKey()" id="loginId" type="text" placeholder="Administrator ID">
                        <!--<p class="loginCheck">아이디를 입력해주세요</p>-->
                    </div>
                </div>
                <div class="member_set mt_20">
                    <div class="title mb_10">비밀번호</div>
                    <div class="textfd_wrap">
                        <div class="icon2"></div>
                        <input onkeyup="enterKey()" id="loginPwd" type="password" placeholder="비밀번호">
                        <!--<p class="loginCheck">비밀번호를 입력해주세요</p>-->
                    </div>
                </div>
                <button type="button" onclick="apiLogin()" class="btn">LOGIN</button>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>