<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content" id="body_area_in">
    <!--달력 js-->
    <script src="/static/js/Calenda/dcalendar.picker.js" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="/static/js/Calenda/dcalendar.picker.css" media="all">

    <!--단말기관리 : 1.단말기 승인처리-->
    <!--검색박스-->
    <form id="search_form" th:object="${searchDto}">
        <input type="hidden" id="srh_action" value="/record/threeImage">
        <input name="pageum" type="hidden" value="020601">
        <input type="hidden" id="searchCategory" value="Y">
        <div class="srh_container">
            <div class="srh_wrapper">
                <div class="mr_85">
                    <label class="label_srh mr_35">기간설정</label>
                    <input type="text" name="dateStart" placeholder="시작일" id="date_start" class="form-control srh_date" onclick="this.value=''" th:value="${searchDto.getDateStart()}" autocomplete="off">
                    <span>~</span>
                    <input type="text" name="dateEnd" placeholder="종료일" id="date_end" class="form-control srh_date" onclick="this.value=''" th:value="${searchDto.getDateEnd()}" autocomplete="off">
                </div>
                <script src="/static/js/Calenda/dcalendar.picker.js"></script>
                <script>
                    $('#date_start').dcalendarpicker();
                    $('#date_end').dcalendarpicker();
                </script>
                <div>
                    <label class="label_srh mr_35">검색어</label>
                    <input id="searchText" name="searchText" class="srh_text" type="text" th:value="${searchDto.getSearchText()}" onkeyup="if(window.event.keyCode==13)search_valid()" placeholder="판독자를 입력해주세요.">
                </div>
                <div class="">
                    <button type="button" onclick="search_valid()" class="searchBtn area_btn mr_10">검색</button>
                    <button type="button" onclick="location.href='/record/threeImage?pageum=020601'" class="redoBtn area_btn">초기화</button>
                </div>
            </div>
            <div class="srh_status"></div>
        </div>
    </form>
    <!--//검색박스-->

    <div class="subbox">
        <!--타이틀-->
        <div class="com_titlebox2 line_b mb"> </div>
        <!--테이블상단-->
        <div class="table_top_wrapper">
            <!-- 전체 게시글 카운트-->
            <div class="page_num"> <span>전체 <em>[[${totalCount}]]</em> 건</span> <span>페이지 <em>1</em> / <em>1</em></span> </div>
            <!-- //전체 게시글 카운트-->
            <!--버튼-->
            <div class="btnBox_num2">
            </div>
            <!--//버튼-->
        </div>
        <!--//테이블상단-->

        <!--테이블리스트-->
        <script>
            function threeOpen(url, name){
                const popupWidth = window.screen.width*0.75;
                const popupHeight = window.screen.height*0.6;
                console.log(popupWidth)
                console.log(popupHeight)
                const popupX = Math.round(window.screenX + (window.outerWidth/2) - (popupWidth/2));
                const popupY = Math.round(window.screenY + (window.outerHeight/2) - (popupHeight/2));
                const featureWindow = "width=" + popupWidth + ", height="+popupHeight+ ", left=" + popupX + ", top=" + popupY+", location=no";
                return window.open(url, name, featureWindow);
            }
        </script>
        <ul class="image_wrap">
<!--            <li class="img_list" onclick="document.getElementById('user-Modal01').style.display='block'">-->
            <li class="img_list" onclick="threeOpen('/record/threeDetail','name(three)')">
                <img id="vImg01" src="/static/images/three/three_test.png">
                <p class="text-center">촬영일시 : 2023년 07월 11일 12:00:00</p>
                <input id="t_test" type="hidden" value="/static/images/three/scene.gltf">
            </li>
        </ul>
        <div id="user-Modal01" class="modal">
            <div class="modal-content" >
                <div class="modal-content_in w_90vw">
                    <div class="modal_titlebar"></div>
                    <div class="modal_close" onclick="document.getElementById('user-Modal01').style.display='none'"><i class="uil uil-multiply"></i></div>
                    <div class="modal_title">이미지 상세보기</div>
                    <div class="cont_wrap text-center mb_30 three_wrap">
                        <img id="3dImage" class="modal_img02" src="/static/images/three/three_test.png">
                        <div class="modal_img02" style="display: inline-block">
                            <canvas id="canvas3" width="600" height="500"></canvas>
                        </div>
                    </div>
                    <div class="d-flex modal_desc">
                        <div class="tb_list_com2 tbt tb_list_st1">
                            <div class="tr">
                                <div class="th">촬영 일시</div>
                                <div class="td">
                                    <div>
                                        <span>항목1 value</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tb_list_com2 tbt tb_list_st1">
                            <div class="tr">
                                <div class="th">판독자</div>
                                <div class="td">
                                    <div>
                                        <span>항목2 value</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex modal_desc">
                        <div class="tb_list_com2 tb_list_st1">
                            <div class="tr">
                                <div class="th">X-Ray ID</div>
                                <div class="td">
                                    <div>
                                        <span>항목3 value</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tb_list_com2 tb_list_st1">
                            <div class="tr">
                                <div class="th">수하물 통과여부</div>
                                <div class="td">
                                    <div>
                                        <span>항목4 value</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex modal_desc">
                        <div class="tb_list_com2 tb_list_st1">
                            <div class="tr">
                                <div class="th">장비 모델명</div>
                                <div class="td">
                                    <div>
                                        <span>항목5 value</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tb_list_com2 tb_list_st1">
                            <div class="tr">
                                <div class="th">탐지 물품</div>
                                <div class="td">
                                    <div>
                                        <span>항목6 value</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex modal_desc">
                        <div class="tb_list_com2 tb_list_st1">
                            <div class="tr">
                                <div class="th">상태</div>
                                <div class="td">
                                    <div>
                                        <span>항목7 value</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tb_list_com2 tb_list_st1">
                            <div class="tr">
                                <div class="th">자동판독 여부</div>
                                <div class="td">
                                    <div>
                                        <span>항목8 value</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//모달-->

    </div>
    <!--달력 -->
    <script src="/static/js/Calenda/dcalendar.picker.js"></script>
    <script>
        $('#date_start').dcalendarpicker();
        $('#date_end').dcalendarpicker();
    </script>
    <!--모달-->
    <script>
        // Get the modal
        var modal = document.getElementById("delete-Modal01");
        window.onclick = function(event) {
            if (event.target == modal) { modal.style.display = "none"; }
        }
    </script>
    <script type="importmap">
          {
          "imports": {
              "three": "https://unpkg.com/three@0.141.0/build/three.module.js",
               "GLTFLoader" : "https://unpkg.com/three@0.141.0/examples/jsm/loaders/GLTFLoader.js"
            }
          }
      </script>
    <script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
    <script type="module">
        import {GLTFLoader} from 'GLTFLoader';
        import * as THREE from 'three';
        import { OrbitControls } from "https://threejs.org/examples/jsm/controls/OrbitControls.js"

        //let source = '/static/images/three/scene.gltf';
        let source = $('#t_test').val();
        let source1 = '';
        let scene = new THREE.Scene();
        let renderer = new THREE.WebGLRenderer({
            canvas : document.querySelector('#canvas3'),
            antialias : true
        });

        renderer.outputEncoding = THREE.sRGBEncoding;

        let camera = new THREE.PerspectiveCamera(30,1);
        const controls = new OrbitControls(camera, renderer.domElement)

        camera.position.set( 0, 0, 5 );
        controls.update();

        scene.background = new THREE.Color('white');

        let light = new THREE.DirectionalLight(0xffff00,10);
        scene.add(light);

        let loader = new GLTFLoader();
        loader.load(source, function(gltf){
            scene.add(gltf.scene);
            function animate(){
                requestAnimationFrame( animate );
                controls.update();
                renderer.render( scene, camera );
            }
            animate();
        })

        function restart() {
            // GLTF 모델 다시 로드하는 작업 등을 수행
            loader.load(source1, function (gltf) {
                scene.add(gltf.scene);
                function animate(){
                    requestAnimationFrame( animate );
                    controls.update();
                    renderer.render( scene, camera );
                }
                animate();
            });
        }
        document.querySelector('.img_list').addEventListener('click', function (event) {
            restart(); // 클릭 시 재실행 함수 호출
        });
    </script>
</div>
</html>