<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adminserver.mapper.DeviceInfoMapper">

    <select id="getViewerInfo" resultType="com.adminserver.dto.DeviceDTO" >
        SELECT
            id, name, status, reg_date, modified_date, type
        FROM device
        WHERE type = 'C'
    </select>

    <select id="getXrayInfo" resultType="com.adminserver.dto.DeviceDTO" >
        SELECT
            id, name, status, reg_date, modified_date, type
        FROM device
        WHERE type = 'X'
    </select>

    <select id="getHistorySel" resultType="com.adminserver.dto.DeviceDTO" >
        SELECT
            id, name, type
        FROM (
                 SELECT id, name, 'viewer' as type
                 FROM viewer_info
                 Union
                 SELECT id, name , 'xray' as type
                 FROM xray_info
             ) as subquery;
    </select>
</mapper>