<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adminserver.mapper.EquipmentMapper">

    <select id="getXrayList" resultType="com.adminserver.dto.EquipmentDTO" >
        SELECT
            id, device_id, name, device_ip, location, if(is_on,'true','false') as is_on, status, distribution_count, reg_date, modified_date
        FROM xray_info
        <where>
            <if test="searchText != null and !searchText.isEmpty()">AND name LIKE CONCAT('%', #{searchText}, '%')</if>
        </where>
        ORDER BY reg_date DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="getXrayCount" resultType="java.lang.Integer" >
        SELECT count(*) as count  FROM xray_info
        <where>
            <if test="searchText != null and !searchText.isEmpty()">AND name LIKE CONCAT('%', #{searchText}, '%')</if>
        </where>
    </select>

    <select id="getViewerList" resultType="com.adminserver.dto.EquipmentDTO" >
        SELECT
            id, device_id, name, device_ip, location, if(is_on,'true','false') as is_on, status, distribution_count, reg_date, modified_date
        FROM viewer_info
        <where>
            <if test="searchText != null and !searchText.isEmpty()">AND name LIKE CONCAT('%', #{searchText}, '%')</if>
        </where>
        ORDER BY reg_date DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="getViewerCount" resultType="java.lang.Integer" >
        SELECT count(*) as count  FROM viewer_info
        <where>
            <if test="searchText != null and !searchText.isEmpty()">AND name LIKE CONCAT('%', #{searchText}, '%')</if>
        </where>
    </select>

</mapper>