<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adminserver.mapper.StatisticsMapper">

    <select id="getXrayStatistic" resultType="com.adminserver.dto.XrayStatisticDTO" >
        SELECT
            xray_name,
            label_id,
            label_name ,
            count(*) AS amount,
            score,
            round(100. * count(*) / sum(count(*)) over (), 2) AS percentage
        FROM xray_analyze_statistics
        <where>
            <if test="!dateStart.isEmpty() and !dateEnd.isEmpty()">AND reg_date between date(#{dateStart}) and date(#{dateEnd})+1 </if>
            <if test="!dateStart.isEmpty() and dateEnd.isEmpty()">AND reg_date >= #{dateStart}</if>
            <if test="dateStart.isEmpty() and !dateEnd.isEmpty()">AND reg_date &lt;= #{dateEnd}</if>
        </where>
        GROUP BY label_id
        ORDER BY percentage DESC;
    </select>

    <select id="getXrayChart" resultType="com.adminserver.dto.XrayStatisticDTO" >
        SELECT
            xray_name,
            label_id,
            label_name ,
            count(*) AS amount,
            score,
            round(100. * count(*) / sum(count(*)) over (), 2) AS percentage
        FROM xray_analyze_statistics
        <where>
            <if test="!dateStart.isEmpty() and !dateEnd.isEmpty()">AND reg_date between date(#{dateStart}) and date(#{dateEnd})+1 </if>
            <if test="!dateStart.isEmpty() and dateEnd.isEmpty()">AND reg_date >= #{dateStart}</if>
            <if test="dateStart.isEmpty() and !dateEnd.isEmpty()">AND reg_date &lt;= #{dateEnd}</if>
        </where>
        GROUP BY label_id
        ORDER BY percentage DESC limit 10;
    </select>

    <select id="getXrayStatisticsCount" resultType="java.lang.Integer">
        SELECT count(*) FROM xray_analyze_statistics
        <where>
            <if test="!dateStart.isEmpty() and !dateEnd.isEmpty()">AND reg_date between date(#{dateStart}) and date(#{dateEnd})+1 </if>
            <if test="!dateStart.isEmpty() and dateEnd.isEmpty()">AND reg_date >= #{dateStart}</if>
            <if test="dateStart.isEmpty() and !dateEnd.isEmpty()">AND reg_date &lt;= #{dateEnd}</if>
        </where>
    </select>
</mapper>