<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content" id="body_area_in">
    <!--달력 js-->
    <script src="/static/js/Calenda/dcalendar.picker.js" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="/static/js/Calenda/dcalendar.picker.css" media="all">

    <!--단말기관리 : 1.단말기 승인처리-->
    <!--검색박스-->
    <form id="search_form" th:object="${searchDto}">
        <input type="hidden" id="srh_action" value="/operation/userList">
        <input name="pageum" type="hidden" value="050101">
        <input type="hidden" id="searchCategory" value="Y">
        <div class="srh_container">
            <div class="srh_wrapper">
                <div>
                    <label class="label_srh mr_35">검색어</label>
                    <input id="searchText" name="searchText" class="srh_text" type="text" th:value="${searchDto.getSearchText()}" onkeyup="if(window.event.keyCode==13)search_valid()" placeholder="아이디를 입력해주세요.">
                </div>
                <div class="">
                    <button type="button" onclick="search_valid()" class="searchBtn area_btn mr_10">검색</button>
                    <button type="button" onclick="location.href='/operation/userList?pageum=050101'" class="redoBtn area_btn">초기화</button>
                </div>
            </div>
            <div class="srh_status"></div>
        </div>
    </form>
    <!--//검색박스-->

    <div class="subbox">
        <!--타이틀-->
        <div class="com_titlebox2 line_b mb"> </div>
        <!--//타이틀-->

        <!--테이블상단-->
        <div class="table_top_wrapper">
            <!-- 전체 게시글 카운트-->
            <div class="page_num"> <span>전체 <em>[[${totalCount}]]</em> 건</span> <span>페이지 <em>[[${nowPage}]]</em> / <em>[[${lists.totalPages}]]</em></span> </div>
            <!-- //전체 게시글 카운트-->
            <!--버튼-->
            <div class="btnBox_num2">
                <button type="button" onclick="document.getElementById('user-Modal01').style.display='block'" class="btn_gallery">등록</button>
                <button type="button" class="btn_excel_save" onclick="excelDown()">엑셀</button>
                <input type="hidden" id="excel_action" value="/excelDown/userList">
            </div>
            <!--//버튼-->
        </div>
        <!--//테이블상단-->

        <!--테이블리스트-->
        <div class="tableList_wrap ">
            <div class="table_com table_st3">
                <div class="tb_h">
                    <div class="th">아이디</div>
                    <div class="th">이름</div>
                    <div class="th">소속</div>
                    <div class="th">직급</div>
                    <div class="th">연락처</div>
                    <div class="th">이메일</div>
                    <div class="th">권한</div>
                    <div class="th">탈퇴</div>
                </div>
                <!--구분선-->

                <div class="tb_d_wrap img_wrap">
                    <th:block th:each="userList : ${lists}" th:if="${totalCount>0}">
                        <div class="tb_d">
                            <div class="td"><a href="#" onclick="changeModify(this);document.getElementById('user-Modal01').style.display='block'">[[${userList.userId}]]</a></div>
                            <div class="td">[[${userList.name}]]</div>
                            <div class="td">[[${userList.department}]]</div>
                            <div class="td">[[${userList.rank}]]</div>
                            <div class="td">[[${userList.phone}]]</div>
                            <div class="td">[[${userList.email}]]</div>
                            <div class="td">[[${userList.role}]]</div>
                            <div class="td_btn"><button th:onclick="deleteUser([[${userList.userId}]])" class="btn_out" type="button">탈퇴</button></div>
                        </div>
                    </th:block>
                    <th:block th:if="${totalCount==0}">
                        <div class="tb_d no_data">
                            <p>조회 목록이 없습니다.</p>
                        </div>
                    </th:block>
                </div>
                <!--//테이블-->
            </div>
        </div>
        <!--//테이블리스트-->

        <!-- Pagination html -->
        <!-- PC 일때 페이징 -->
        <div class="pc_view" th:with="start=${(lists.number/maxPage)*maxPage + 1}, end=(${(lists.totalPages == 0) ? 1 : (start + (maxPage -1) < lists.totalPages ? start + (maxPage -1) : lists.totalPages)})">
            <div class="common_pagination pc_view">
                <a th:href="${uri}+'?page='+${start-1}+'&pageum='+${pageum}+'&searchCategory='+${searchDto.searchCategory}+'&searchText='+${searchDto.searchText}+'&dateStart='+${searchDto.dateStart}+'&dateEnd='+${searchDto.dateEnd}" th:classappend="${lists.first}? 'disabled'" class="first">PREV</a>
                <a th:href="${uri}+'?page=' + ${lists.number-1}+'&pageum='+${pageum}+'&searchCategory='+${searchDto.searchCategory}+'&searchText='+${searchDto.searchText}+'&dateStart='+${searchDto.dateStart}+'&dateEnd='+${searchDto.dateEnd}" th:classappend="${lists.first}? 'disabled'"  class="front"></a>
                <div>
                    <a th:href="${uri}+'?page=' + ${page-1}+'&pageum='+${pageum}+'&searchCategory='+${searchDto.searchCategory}+'&searchText='+${searchDto.searchText}+'&dateStart='+${searchDto.dateStart}+'&dateEnd='+${searchDto.dateEnd}" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${lists.number eq page-1}?'active':''" class="um">[[${page}]]</a>
                </div>
                <a th:href="${uri}+'?page=' + ${lists.number+1}+'&pageum='+${pageum}+'&searchCategory='+${searchDto.searchCategory}+'&searchText='+${searchDto.searchText}+'&dateStart='+${searchDto.dateStart}+'&dateEnd='+${searchDto.dateEnd}" th:classappend="${lists.last}? 'disabled'" class="back"></a>
                <a th:href="${uri}+'?page='+${end-1}+'&pageum='+${pageum}+'&searchCategory='+${searchDto.searchCategory}+'&searchText='+${searchDto.searchText}+'&dateStart='+${searchDto.dateStart}+'&dateEnd='+${searchDto.dateEnd}" th:classappend="${lists.last}? 'disabled'" class="last">NEXT</a>
            </div>
        </div>
        <!-- //PC 일때 페이징 -->


        <!--모달- 삭제사유입력-->
        <form id="modalForm" action="/operation/userSignUp" method="post" th:object="${userInfoDTO}">
        <div id="user-Modal01" class="modal">
            <div class="modal-content" >
                <div class="modal-content_in w_520">
                    <div class="modal_titlebar"></div>
                    <div class="modal_close" onclick="modalReset(); document.getElementById('user-Modal01').style.display='none'"><i class="uil uil-multiply"></i></div>
                    <div class="modal_title">사용자 등록</div>
                    <div class="cont_wrap">
                        <div class="tb_list_com tb_list_st1 mb_30">
                            <div class="tr">
                                <div class="th necessary_item">아이디</div>
                                <div class="td">
                                    <div id="idCheckDiv" class="overlap_input">
                                        <input th:field="*{userId}" onchange="duplicateReset()" type="text" placeholder="" >
                                        <button id="idCheck" type="button" onclick="duplicateCheck()">중복확인</button>
                                        <input type="hidden" id="valCheckYn">
                                        <p id="valid_no_id" class="valid_error">아이디를 입력 해주세요</p>
                                        <p id="valid_no_dup" class="valid_error">중복체크를 해주세요</p>
                                        <p id="valid_no_both" class="valid_error">아이디 입력과 중복체크를 해주세요</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tr">
                                <div class="th necessary_item">비밀번호</div>
                                <div class="td">
                                    <input onchange="passwordReset()" th:field="*{password}" type="password" placeholder="" >
                                    <p id="valid_password" class="valid_error">비밀번호를 입력 해주세요</p>
                                </div>
                            </div>
                            <div class="tr">
                                <div class="th necessary_item">비밀번호 확인</div>
                                <div class="td">
                                    <input id="password_check" type="password" onchange="passwordCheckReset()" placeholder="" >
                                    <p id="valid_password_check_dep" class="valid_error">비밀번호가 다릅니다</p>
                                    <p id="valid_password_check_no" class="valid_error">비밀번호 확인을 입력주세요</p>
                                </div>
                            </div>
                            <div class="tr">
                                <div class="th necessary_item">이름</div>
                                <div class="td">
                                    <input onchange="nameReset()" th:field="*{name}"  type="text" placeholder="" >
                                    <p id="valid_name" class="valid_error">이름을 입력 해주세요</p>
                                </div>
                            </div>
                            <div class="tr">
                                <div class="th">소속</div>
                                <div class="td">
                                    <input th:field="*{department}" type="text" placeholder="" >
                                </div>
                            </div>
                            <div class="tr">
                                <div class="th">직급</div>
                                <div class="td">
                                    <input th:field="*{rank}" type="text" placeholder="" >
                                </div>
                            </div>
                            <div class="tr">
                                <div class="th">연락처</div>
                                <div class="td">
                                    <input th:field="*{phone}" type="text" placeholder="(-)없이 입력해주세요.">
                                </div>
                            </div>
                            <div class="tr">
                                <div class="th">이메일</div>
                                <div class="td">
                                    <input onchange="emailReset()" th:field="*{email}" type="text" placeholder="">
                                    <p id="valid_email" class="valid_error">올바른 이메일 형식이 아닙니다</p>
                                </div>
                            </div>
                            <div class="tr">
                                <div class="th">권한</div>
                                <div class="td">
                                    <select th:field="*{role}" type="text" placeholder="">
                                        <option value="ADMIN">관리자</option>
                                        <option value="USER">사용자</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom_btn_wrap_type1">
                        <button type="button" onclick="validCheck()" class="btn_save">등록</button>
                        <button type="button" onclick="modalReset(); document.getElementById('user-Modal01').style.display='none'" class="btn_cancel">취소</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <form id="del_form" action="/operation/userDelete" method="post">
            <input id="del_userId" type="hidden" name="userId">
        </form>
        <!--//모달-->

    </div>

    <!--중복 js - 레이아웃(layout.html) 하단에 선언되어있음. 페이지 적용시 삭제-->
    <!--달력 -->
    <script src="/static/js/Calenda/dcalendar.picker.js"></script>
    <script>
        $('#date_start').dcalendarpicker();
        $('#date_end').dcalendarpicker();
    </script>

    <!--모달-->
    <script type="text/javascript" src="/static/js/valid_check.js"></script>
</div>
</html>